ErkSampatEE.aux
ErkSampatEE.log
ErkSampatEE.out
ErkSampatEE.synctex.gz

resume_printable/ErkSampatEEPrintable.aux
resume_printable/ErkSampatEEPrintable.log
resume_printable/ErkSampatEEPrintable.out
resume_printable/ErkSampatEEPrintable.synctex.gz

.DS_Store
